
<%- include('./partials/header') %>

<main>
<% if (user) {%>
<% if (user.admin) { %>
    <h4>Check Moderation Status</h4>
    <p>Is an Admin</p>
<% } %>

<h2>Your Comments</h2>

<table>
    <thead>
        <tr>
            <th>Delete</th>
            <th>Game Title</th>    
            <th>Date Created</th>
            <th>Review Content</th>
            <th>Rating</th>
            <th>Edit</th>
        </tr>
    </thead>
    <% games.forEach(function(game) { %>
    <% game.reviews.forEach(function(r) { %>
    <% if (r.user.equals(user._id)) { %>
    <tbody>
        <tr>
            <td>
                <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST" id="delete_button">
                <button type="submit">X</button>
                </form>
            </td>
            <td><a href="/games/<%= game._id %>"><%= game.title %></a></td>
            <td><%= r.createdAt.toLocaleDateString() %></td>
            <td><%= r.content %></td>
            <td><%= r.rating %></td>
            <td><a href="/reviews/<%= r._id %>/edit">Edit</a></td>
        </tr>
    </tbody>
    <% } %>
    <% }); %>
    <% }); %>
</table>
            
<% } else { %>
    <p>Please Sign in to View your comments</p>
<% } %>
</main>

<%- include('./partials/footer') %>
