<%- include('../partials/header') %>

<table>
    <thead>
        <tr>
            <th>Title  </th>
            <th>|</th>
            <th>Genre  |</th>
            <th>Release Year  |</th>
            <th>Xbox Compatable  |</th>
            <th>Playstation Compatable  |</th>
            <th>PC Compatable  |</th>
            <th>Reviews</th>
        </tr>
    </thead>

    <tbody>
        <% games.forEach(function(g) { %>
        <tr>
            <td><a href="/games/<%= g._id %>"><%= g.title %></a></td>
            <td></td>
            <td><%= g.genre %></td>
            <td><%= g.releaseYear %></td>
            <td>
                <% if (g.xboxCompatibility) { %>
                    Yes
                <%} else {%>
                    No
                <% } %>    
            </td>
            <td>
                <% if (g.psCompatibility) { %>
                    Yes
                <%} else {%>
                    No
                <% } %> 
            </td>
            <td>
                <% if (g.pcCompatibility) { %>
                    Yes
                <%} else {%>
                    No
                <% } %> 
            </td>
            <td>
                <%= g.reviews.length %>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>

<%- include('../partials/footer') %>