<%- include('../partials/header') %>

<main>
<table>
    <thead>
        <tr>
            <% if (user) {%>
                <% if (user.admin) { %>
                    <th></th>
                <% } %>
            <% } %>
            <th><a href="/games/sort/title">Title  </a></th>
            <th></th>
            <th><a href="/games/sort/genre">Genre  </a></th>
            <th><a href="/games/sort/releaseYear">Release Year</a></th>
            <th><a href="/games/sort/average">Average Score</a></th>
            <th><a href="/games/sort/reviews">Reviews</a></th>
            <% if (user) {%>
                <% if (user.admin) { %>
                    <th></th>
                <% } %>
            <% } %>
        </tr>
    </thead>

    <tbody>
        <% games.forEach(function(g) { %>
        <tr>
            <% if (user) {%>
                <% if (user.admin) { %>
                    <td>
                        <form action="/games/<%= g.id %>?_method=DELETE" method="POST" class="delete-form" id="delete_button">
                            <button type="submit">X</button>
                        </form>
                    </td>
                <% } %>
            <% } %>
            <td id="game_title_link"><a href="/games/<%= g._id %>"><%= g.title %></a></td>
            <td></td>
            <td>
                <% if (g.genre === 'ACT') {%>
                    Action
                <% } else if (g.genre === 'RPG') {%>
                    Roleplaying
                <% } else if (g.genre === 'STR') {%>
                    Strategy
                <% } else if (g.genre === 'SIM') {%>
                    Simulation
                <% } else if (g.genre === 'S&R') {%>
                    Sports/Racing
                <% } else if (g.genre === 'ADV') {%>
                    Adventure
                <% } else if (g.genre === 'CAS') {%>
                    Casual
                <% }; %>
            </td>
            <td><%= g.releaseYear %></td>
                <td>
                    <% if (g.reviews.length) { %> 
                        <% let total = 0 %>
                        <% g.reviews.forEach(function(r) { %>
                            <% total += r.rating %>
                        <% }); %>
                        <%= (total / g.reviews.length).toFixed(1) %>
                    <% } else { %>
                        -
                    <% } %>    
                </td>
            
            <td>
                <%= g.reviews.length %>
            </td>
            <% if (user) {%>
                <% if (user.admin) { %>
                    <td>
                        <a href="/games/<%= g._id %>/edit">Edit</a>
                    </td>
                <% } %>
            <% } %>
        </tr>
        <% }); %>
    </tbody>
</table>
</main>

<%- include('../partials/footer') %>