<%- include('../partials/header') %>

<main>
<section id="show-page">
    <div>Title: <%= game.title %></div>
    <div>
        <% if (game.genre === 'ACT') {%>
            Action
        <% } else if (game.genre === 'RPG') {%>
            Roleplaying
        <% } else if (game.genre === 'STR') {%>
            Strategy
        <% } else if (game.genre === 'SIM') {%>
            Simulation
        <% } else if (game.genre === 'S&R') {%>
            Sports/Racing
        <% } else if (game.genre === 'ADV') {%>
            Adventure
        <% } else if (game.genre === 'CAS') {%>
            Casual
        <% }; %>
    </div>
    <div>Release Year: <%= game.releaseYear %></div>
    <div>
      <% if (game.reviews.length) { %> 
        <% let total = 0 %>
        <% game.reviews.forEach(function(r) { %>
          <% total += r.rating %>
        <% }); %>
        Average Score: <%= (total / game.reviews.length).toFixed(1) %>
      <% } else { %>
          Average Score: -
      <% } %>  
    </div>


    <% if (game.xboxCompatibility === true) {%>
    <div>Xbox Compatible</div>
    <% }; %>
    <% if (game.psCompatibility === true) {%>
    <div>Playstation Compatible</div>
    <% }; %>
    <% if (game.pcCompatibility === true) {%>
    <div>PC Compatible</div>
    <% }; %>
    
</section>
<br><br>

<% if (user) {%>
<form id="add-review-form" method="POST" action="/games/<%= game._id %>/reviews">
  <div>
    <h2>Add a Review</h2>
  </div>
  <div>
    <label>Review:</label>
    <input type="textarea" name="content" id="review-box">
  </div>
  <br><br>
  <div>
    <label>Rating:</label>
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>
  <div>
    <input type="submit" value="Add Review">
  </div>
</form>
<% } %>

<h2>Reviews</h2>
<% if (game.reviews.length) { %>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Date</th>
          <th></th>
          <th>Review</th>
          <th></th>
          <th>Rating</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% let total = 0 %>
        <% game.reviews.forEach(function(r) { %>
          <% total += r.rating %>
          
          <tr>
            <td>
            <% if (user) {%>
              <% if (r.user.equals(user._id)) { %>
                <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST" id="delete_button">
                  <button type="submit">X</button>
                </form>
              <% } %>
            <% } %>
            </td>
            <td><%= r.createdAt.toLocaleDateString() %></td>
            <td></td>
            <td>
              <% if (r.visible === true) { %>
              <p id="review_content"><%= r.content %></p>
              <% } else { %>
                <p id="review_content">*****</p>
              <% } %>
            </td>
            <td></td>
            <td><%= r.rating %></td>
            <td>
            <% if (user) {%>
              <% if (r.user.equals(user._id)) { %>
                <a href="/reviews/<%= r._id %>/edit">Edit</a>
              <% } %>
            <% } %>
            </td>
            <td>
              <% if (user) {%>
                <% if (user.admin === true) { %>
                  <a href="/reviews/<%= r._id %>/admins/edit">Filter</a>
                <% } %>
              <% } %>
            </td>
          </tr>
          
        <% }); %>
        <tr>
          <td colspan="5"></td>
          <td><strong><%= (total / game.reviews.length).toFixed(1) %></strong></td>
        </tr>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Reviews Yet</h5>
  <% } %>
</main>

<%- include('../partials/footer') %>